{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
New
{% endblock title %}

{% block content %}
   <h1>Все посты</h1>
    <h1>Всего публикаций: {{news|length}}</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>

           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.head|censor }}</td>
               <td>{{ new.timing_post|date:'d M Y' }}</td>
               <td>{{ new.text|truncatechars:20|censor }}</td>

           </tr>
           {% endfor %}

       </table>
    {% endif %}
{% endblock content %}
